In [86]:
import pandas as pd
import numpy as np

In [105]:
df1=pd.read_csv('Dataset/test/wl_galchi.csv')
df2=pd.read_csv('Dataset/test/wl_buddhi.csv')

In [106]:
df1.head()

              dateTime       value  discharge  mean_velocity
0  2024-12-10 00:05:00  366.192383  91.093562       1.324187
1  2024-12-10 00:15:00  366.191498  90.925333       1.323851
2  2024-12-10 00:25:00  366.197784  92.121625       1.326243
3  2024-12-10 00:35:00  366.198090  92.179774       1.326360
4  2024-12-10 00:45:00  366.200989  92.732533       1.327465

In [107]:
def calculate_time_lag_min(distance,velocity):
    time_lag = distance / (velocity*60)
    if np.isnan(velocity) or velocity == 0:
        return np.nan  # Return NaN if velocity is invalid
    return time_lag

In [108]:
df1_dist=30000
df2_dist=18500

df1['time_lag']=df1.apply(lambda row: calculate_time_lag_min(df1_dist, row['mean_velocity']), axis=1)
df2['time_lag']=df2.apply(lambda row: calculate_time_lag_min(df1_dist, row['mean_velocity']), axis=1)

In [109]:
df1.head()

              dateTime       value  discharge  mean_velocity  time_lag
0  2024-12-10 00:05:00  366.192383  91.093562       1.324187       378
1  2024-12-10 00:15:00  366.191498  90.925333       1.323851       378
2  2024-12-10 00:25:00  366.197784  92.121625       1.326243       377
3  2024-12-10 00:35:00  366.198090  92.179774       1.326360       377
4  2024-12-10 00:45:00  366.200989  92.732533       1.327465       377

In [111]:
df1['period']=df1['time_lag']//10
df1.head()

              dateTime       value  discharge  mean_velocity  time_lag  period
0  2024-12-10 00:05:00  366.192383  91.093562       1.324187       378      37
1  2024-12-10 00:15:00  366.191498  90.925333       1.323851       378      37
2  2024-12-10 00:25:00  366.197784  92.121625       1.326243       377      37
3  2024-12-10 00:35:00  366.198090  92.179774       1.326360       377      37
4  2024-12-10 00:45:00  366.200989  92.732533       1.327465       377      37

In [113]:
df2['period']=df2['time_lag']//10
df1.head()
df1['dateTime']=pd.to_datetime(df1['dateTime'])
df2['dateTime']=pd.to_datetime(df2['dateTime'])
df1.dtypes

dateTime         datetime64[ns]
value                   float64
discharge               float64
mean_velocity           float64
time_lag                  int64
period                    int64
dtype: object

In [114]:
df1.set_index('dateTime',inplace=True)

In [117]:
df2.set_index('dateTime',inplace=True)

In [118]:
df1.dtypes

value            float64
discharge        float64
mean_velocity    float64
time_lag           int64
period             int64
dtype: object

In [119]:

def shift_row(date,period):
    print(date)
    df['shifted_dateTime'] = date + timedelta(minutes=period * 10)
    print(df)
    # return df['discharge'].shift(periods=shift_amount)

In [74]:
def shifted_dateTime(date):
    shifted=date + timedelta(minutes=period * 10)
    
    return shifted

In [127]:
def create_shifted_df(df):
    shifted_data = [
    {'dateTime': index + pd.DateOffset(minutes=period*10), 'discharge': discharge}
    for index, period, discharge in zip(df.index, df['period'], df['discharge'])
]
    return pd.DataFrame(shifted_data)

In [125]:
shifted_df1=create_shifted_df(df1)
# df1.index.dtype

In [126]:
shifted_df1

               dateTime  discharge
0   2024-12-10 06:23:00  91.093562
1   2024-12-10 06:33:00  90.925333
2   2024-12-10 06:42:00  92.121625
3   2024-12-10 06:52:00  92.179774
4   2024-12-10 07:02:00  92.732533
..                  ...        ...
427 2024-12-13 05:34:00  88.801527
428 2024-12-13 05:44:00  89.252104
429 2024-12-13 05:54:00  88.876593
430 2024-12-13 06:04:00  88.536007
431 2024-12-13 06:14:00  89.084531

[432 rows x 2 columns]